.blog__wrapper {
    padding: 90px 24px;
}

.blog__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 45px;
}

.blog__header_title {
    font-family: var(--font-family-header);
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 1.632px;
    color: #1c1d1e;
}

.blog__image_wrap {
    height: 32px;
    margin-top: 25px;
}

.blog__header_image {
    height: 100%;
    display: block;
    object-fit: contain;
}

.blog__header_text {
    font-family: var(--font-family-paragraph);
    font-size: 18px;
    color: var(--font-color-gray);
    line-height: 28.8px;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
    overflow-wrap: break-word;
    text-align: center;
}

.blog__main {
    height: 450px;
    border: 1px solid rgba(33, 39, 54, 0.12);
    margin-bottom: 50px;
}

.blog__main-text {
    text-align: center;
    vertical-align: middle;
    line-height: 450px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-family-paragraph);
    color: var(--font-color-black);
    -webkit-font-smoothing: antialiased;
}

.blog__footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__footer__button {
    color: #fff;
    background-color: #f52e62;
    padding: 19px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-family: var(--font-family-paragraph);
    font-weight: 700;
    text-transform: uppercase;
    max-height: 50px;
    line-height: 12px;
    -webkit-font-smoothing: antialiased;
    transition: 0.3s;
}

.blog__footer__button:hover {
    background-color: #0ad19d;;
}

.blog__footer__button:active {
    background-color: #f52e62;
}


@media (min-width: 767px) {
    .blog__header {
        margin-top: 0;
    }

    .blog__header_title {
        font-size: 40px;
        letter-spacing: 1.92px;
    }
}

@media (min-width: 768px) {
    .blog__wrapper {
        padding: 105px 32px 110px 32px;
    }

    .blog__header_title {
        font-size: 37px;
        letter-spacing: 1.776px;
    }

    .blog__header {
        height: 182.6px;
        padding: 0 25%;
    }
}

@media (min-width: 991px) {
    .blog__header_title {
        font-size: 40px;
        letter-spacing: 1.92px;
    }
}

@media (min-width: 992px) {
    .blog__wrapper {
        padding: 120px 40px 130px 40px;
    }

    .blog__header {
        margin-bottom: 50px;
    }

    .blog__main {
        margin-bottom: 55px;
    }
}