@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color-black: #1C1D1E;
    --font-color-gray: #515151;
    --font-color-cyan: #0ad19d;
    --font-color-bright-gray: #f0f0f0;
    --font-color-white: #fff;
    --font-family-header: 'Fjalla One', sans-serif;
    --font-family-paragraph: 'Lato', sans-serif;
    scroll-behavior: smooth;

}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}
