/* Тут будуть стилі до блоку 11 */
.contacts {
    box-sizing: border-box;
    display: block;
    flex-basis: 100%;
    flex-shrink: 0;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
    padding-bottom: 105px;
    padding-top: 105px;
    position: relative;
    vertical-align: baseline;
    }
    
    .contacts__details {
    justify-content: center;
    text-align: left;
    vertical-align: baseline;
    width: 440px;
    }
    
    .contacts__header {
    font-size: 34px;
    letter-spacing: 1.632px;
    font-family: Fjalla One, sans-serif;
    }
    
    .contacts__image {
    width: 227.19px;
    }
    
    .contacts__paragraph {
    font-size: 18px;
    line-height: 28,8px;
    }
